html, body {
    height: 100%;
}
body {
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #000000de;
    margin: 0;
}
#navbar {
    position: absolute;
    right: 1%;
    top: 1%;
    height: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.nav {
    margin: 10px;
    line-height: 30px;
}
.Gmail {
    text-decoration: none;
    color: inherit;
}
.Gmail:hover {
    text-decoration: underline;
}
.GApps {
    background-image: url("../images/sprite.png");
    background-position: -132px -38px;
    display: inline-block;
	width: 30px;
    height: 30px;
    opacity: 0.5;
}
.GApps:hover {
    opacity: 1;
}
.SignIn {
    text-decoration: none;
    color: white;
    background: #4387fd;
    border: 1px solid #4285f4;
    font-weight: bold;
    padding: 0 12px;
    border-radius: 3px;
}
.SignIn:hover {
    box-shadow: 0px 0px 1px #4285f4;
}
.SignIn:active {
    background: #4380e8;
    box-shadow: inset 0px 0px 5px grey;
}
#search {
    position: absolute;
    height: auto;
    width: 500px;
    top: 40%;
    left: 50%;
    margin-left: -250px;
    margin-top: -125px;
    z-index: 2;
}
#searchBox {
    display: grid;
    grid-template-columns: 30px 400px 45px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 25px;
    margin: 10px;
    position: relative;
    height: 45px;
    padding:0;
}
#logo {
    margin-left: 112.5px;
}
#searchBox > * {
    margin: 5px;
    bottom: -4px;
}
#searchBox:active, #searchBox:hover, #searchBox:focus-within  {
    box-shadow: 0px 0px 4px #72727277; 
}
img#searchImg {
    height: 24px;
    width: 20px;
    margin: 10px;
    margin-top: 12px;
    opacity: 0.5;
}
#mic {
    margin: 10px;
    margin-top: 9px;
}
#mic > img{
    height: 24px;
    width: 24px;
}
form > input {
    width: 400px;
    height: 35px;
    border-style: none;
    font: 16px arial,sans-serif;
}
#searchBtns {
    margin-left: 105px;
    margin-top: 20px;
}
#searchBtns > * {
    padding: 10px 20px;
    background-color: rgba(128, 128, 128, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 5px;
    color: rgba(128, 128, 128, 1);
    font-size: 14px;
}
#searchBtns > *:hover {
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: 0px 0px 4px #72727277;
}
#otherLang {
    margin-left: 140px;
    margin-top: 20px;
    font-size: 13px;
}
#otherLang > a {
    padding : 0 7px;
    text-decoration: none;
}
#otherLang > a:hover {
    text-decoration: underline;
}
#footer {
    position: absolute; 
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    z-index: 1;
}
#footer > * {
    border: 1px solid #e4e4e4;
}
#country > p{
    color: rgba(0,0,0,.54);
    margin-left: 25px;
}
#footerLinks {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 13px;
}
#footerLinks > * > a {
    text-decoration: none;
    color: rgba(0,0,0,.65);
    padding-left: 7px;
    padding-right: 7px;
}
#footerLinks > * > a:hover {
    text-decoration: underline;
}
#leftLinks {
    position: relative;
    left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
}
#rightLinks {
    text-align: right;
    position: relative;
    right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;   
}