body {
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #000000de;
    
}
#navbar {
    position: absolute;
    right: 1%;
    top: 1%;
    height: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.nav {
    margin: 10px;
    line-height: 30px;
}
.Gmail {
    text-decoration: none;
    color: inherit;
}
.Gmail:hover {
    text-decoration: underline;
}
.GApps {
    background-image: url("../images/sprite.png");
    background-position: -132px -38px;
    display: inline-block;
	width: 30px;
    height: 30px;
    opacity: 0.5;
}
.GApps:hover {
    opacity: 1;
}
.SignIn {
    text-decoration: none;
    color: white;
    background: #4387fd;
    border: 1px solid #4285f4;
    font-weight: bold;
    padding: 0 12px;
    border-radius: 3px;
}
.SignIn:hover {
    box-shadow: 0px 0px 1px #4285f4;
}
.SignIn:active {
    background: #4380e8;
    box-shadow: inset 0px 0px 5px grey;
}